{% extends 'frontOffice/layout.twig' %}

{% block head %}
    <title>Accueil</title>
    <link href="../public/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="rounded-circle" src="../public/img/profile.jpeg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Sébastien Avenel</h1>
                        <hr class="star-light">
                        <span class="skills">Le développeur web qu'il vous faut!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Compétences</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../public/img/portfolio/html.jpg" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="../public/img/portfolio/css3.jpg" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="../public/img/portfolio/javascript.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../public/img/portfolio/php.png" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="../public/img/portfolio/jquery.png" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="../public/img/portfolio/mysql.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Le développeur web</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-2">
                    <p>Le concepteur développeur informatique est capable de développer une application, de créer un site internet, une page web ou une base de données à partir d’un cahier des charges ou d’un besoin précis de l’utilisateur. Ce métier est apparu avec le début du web en développant des pages internet, mélangent du texte, des images, mais aussi des liens vers d’autres sites internet.</p>
                </div>
                <div class="col-lg-4">
                    <p>À l’heure actuelle, le développeur web tient une place importante au sein des agences de communication web ou directement au sein des entreprises et pas seulement des grandes entreprises, mais aussi de moyennes et petites entreprises. Le métier de développeur web a donc de beaux jours devant lui. Son métier a pour objectif de créer un site internet de A à Z </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Me contacter</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p>{{ response }}</p>
                    {% if errorSentMail %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in errorSentMail %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if successSentMail %}
                        <div class="alert alert-success" role="alert">
                            {{ successSentMail }}
                        </div>
                    {% endif %}
                    <form action="../public/index.php?route=homeContact#contact" method="post" name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="inputname">Nom</label>
                                <input type="text" class="form-control" name="sendMailName" placeholder="Nom" id="sendMailName" value={{ inputsSentMail.sendMailName }}>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="inputemail">Email</label>
                                <input type="email" class="form-control" name="sendMailEmail" placeholder="Email" id="sendMailEmail" value={{ inputsSentMail.sendMailEmail }}>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="inputphone">Téléphone</label>
                                <input type="tel" class="form-control" name="sendMailPhone" placeholder="Téléphone" id="sendMailPhone" value={{ inputsSentMail.sendMailPhone }}>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="inputmessage">Message</label>
                                <textarea rows="5" class="form-control" name="sendMailMessage" placeholder="Message" id="sendMailMessage">{{ inputsSentMail.sendMailMessage }}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row valid">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Theme JavaScript -->
    <script src="../public/js/home/freelancer.min.js"></script>
{% endblock %}