{% extends 'admin/layout.twig' %}

{% block head %}
    <title>Blog posts admin</title>
    <link href="../public/css/commentsAdmin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="blogPostsAdmin" class="col-xs-12 col-lg-9">
        <h1>Commentaires admin</h1>
        <h3>Liste des blog posts</h3>
        <div id="containerTable">
            <table class="table table-hover table-default">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Voir</th>
                </tr>
                </thead>
                <tbody>
                {% for blogPost in blogPostsList %}
                    <tr>
                        <th>{{ blogPost.id }}</th>
                        <td>{{ blogPost.title }}</td>
                        <td><a href="?route=adminComments&idBlogPostCommentsAdmin={{ blogPost.id }}"><i class="fas fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if get.idBlogPostCommentsAdmin %}
            {% if invalidComments %}
                <div class="card" id="listOfInvalidComments">
                    <div class="card-header">
                        <h4>Titre : {{ uniqueBlogPost.title }}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><h5>Chapo : {{ uniqueBlogPost.chapo }}</h5></h5>
                        <p class="card-text"><p>Contenu : {{ uniqueBlogPost.content }}</p></p>
                        <h4>Liste des commentaires en attente:</h4>
                        <div id="commentsList">
                            {% for comment in invalidComments %}
                                <div>
                                    <p><h6>Dernière modification le : {{ comment.updatedAt }} Par {{ comment.UserName }}</h6></p>
                                    <p>{{ comment.content }}</p>
                                    <input type=button onclick=window.location.href='../public/index.php?route=adminComments&idValidComment={{ comment.id }}&idBlogPost={{ uniqueBlogPost.id }}'; value="Valider" class="btn btn-success"/>
                                    <input type=button onclick=window.location.href='../public/index.php?route=adminComments&idDeleteComment={{ comment.id }}&idBlogPost={{ uniqueBlogPost.id }}'; value="Supprimer" class="btn btn-danger"/>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <h5>Aucun commentaire à valider pour ce blog post</h5>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#commentsAdminLink").css('color', '#18BC9C');
        });
    </script>
{% endblock %}