{% extends 'home/layout.twig' %}

{% block head %}
    <title>Liste des blogs</title>
    <link rel="stylesheet" href="../public/css/blogPostsList.css"
{% endblock %}

{% block content %}
    <section id="blogPostsGallery">
        <h1>Liste des blog posts</h1>
        <div class="container" id="blogPostListContent">
            <form action="../public/index.php?route=blogPostsList&page=1" method="post" id="blogPostPerPage">
                <div class="row justify-content-center" id="blogPostPerPageForm">
                    <h6 style="padding-top: 10px">Blog posts par page:</h6>
                    <select class="form-control" name="blogPostPerPage" id="selectBlogPerPage">
                        {% for i in 3..10 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-success btn-sm" type="submit" id="btnBlogPerPage">Appliquer</button>
                </div>
            </form>
            {% if blogPostsList %}
                <div class="row">
                    {% for blogPost in blogPostsList %}
                        <div class="col-12">
                            <div class="card text-center">
                                <div class="card-header">
                                    <h4>{{ blogPost.title }}</h4>
                                    <p>Créé le {{ blogPost.createdAt }}</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ blogPost.chapo }}</h5>
                                    <p class="card-text">{{ blogPost.content|truncate(200) }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="index.php?route=blogPostWithComments&idBlogPost={{ blogPost.id }}">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="pagination justify-content-center">
                    {% if get.page == 1 %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?route=blogPostsList&page={{ get.page - 1 }}&blogPostPerPage={{ blogPostPerPage }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in 1..numberOfPage %}
                        {% if i == get.page %}
                            <li class="page-item active"><a class="page-link" href="?page={{ i }}&blogPostPerPage={{ blogPostPerPage }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?route=blogPostsList&page={{ i }}&blogPostPerPage={{ blogPostPerPage }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if get.page == numberOfPage %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?route=blogPostsList&page={{ get.page + 1 }}&blogPostPerPage={{ blogPostPerPage }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <h3>Aucun blog post !</h3>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}