{% extends 'layout.twig' %}

{% block head %}
    <title>Liste des blogs</title>
    <link rel="stylesheet" href="../public/css/blogPostsList.css"
{% endblock %}

{% block content %}

    <section id="blogPostsGallery">
        <h1>Liste des blog posts</h1>
        <div class="container">
            <div class="row">
                {% for blogPost in blogPostsList %}
                    <div class="col-12">
                        <div class="card text-center">
                            <div class="card-header">
                                <h4>{{ blogPost.title }}</h4>
                                <p>Créé le {{ blogPost.createdAt }}</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ blogPost.chapo }}</h5>
                                <p class="card-text">{{ blogPost.content }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="index.php?route=blogPostWithComments&idBlogPost={{ blogPost.id }}">Voir plus</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}