{% extends 'layout.twig' %}

{% block head %}
    <title>Blog post avec commentaires</title>
    <link rel="stylesheet" href="../public/css/blogPostWithComments.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>{{ blogPost.title }}</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ blogPost.chapo }}</h5>
                <p class="card-text">{{ blogPost.content }}</p>
                <hr>
                <h5>Commentaires</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                    {% for comment in comments %}
                        <div class="col-12">
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title">Posté par {{ comment.idUser}}</h5>
                                    <h6>dernière modification le {{ comment.updatedAt }}</h6>
                                    <p class="card-text">{{ comment.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container-fluid">

            </div>
        </div>
    </div>

{% endblock %}